<!DOCTYPE html>
<html>
    <head>
        <head>
        <meta charset="UTF-8">
        <title>Chat-Chat</title>
        <link href="{{ asset('css/chat.css') }}" rel="stylesheet" />
    </head>
    </head>
    <body>
        {% block body %}
            <h2>Название сайта</h2>
            <b>Шапка Текст Контакты</b><br><br>
            
            {% autoescape %}{% block content %}{% endblock %}{% endautoescape %}
            
        {% endblock %}
        {% block javascripts %}
            <script src="/js/jquery-3.2.1.js"</script>
            <script src="/js/main.js"></script>
            <script src="/js/chatMessages.js"></script>
        {% endblock %}
    </body>
</html>
