{% extends 'base.html.twig' %}

{% block body %}
   
    <H3>Hello Symfony!</H3>
   
    <ul>
        <li><a href="/article">Articles (Entities)</a></li>
        <li><a href="/register">Registration (FOSUserBundle)</a></li>
        <li><a href="/login">Login (FOSUserBundle)</a></li>
        <li><a href="/chat">Chat Example (IFFChatBundle)</a></li>
        <li></li>
        <li></li>
    </ul>
    
    <script src="/js/common.js"></script>
    <script src="/js/main.js"></script>
{% endblock %}

