{% extends 'base.html.twig' %}

{% block body %}
    <body style="font-family: Fira-Sans">
    <div class="header">
        <div class="content">
            <div class="content-logo-info-button">
                <div class="logo-content">
                    <img src="/img/logo.svg" class="logo">
                </div>
                <div class="content-menu-header-main">
                    <div class="content-menu-item">
                        <a href="#" class="menu-item">
                            Как создать ТСЖ
                        </a>
                    </div>
                    <div class="content-menu-item">
                        <a href="#" class="menu-item">
                            Как это работает
                        </a>
                    </div>
                    <div class="content-menu-item">
                        <a href="#" class="menu-item">
                            Преимущества
                        </a>
                    </div>
                    <div class="content-menu-item">
                        <a href="#" class="menu-item">
                            Сколько это стоит
                        </a>
                    </div>
                    <div class="content-menu-item">
                        <a href="#" class="menu-item">
                            После регистрации
                        </a>
                    </div>
                    <div class="content-menu-item">
                        <a href="#" class="menu-item">
                            Отзывы
                        </a>
                    </div>
                </div>
                <div class="enter-button-container">
                    <a  href="enter-form.html" class="enter-button">
                        Вход<span><img src="/img/enter.svg" class="enter-button-logo"></span>
                    </a>
                </div>
            </div>
            <div class="main-header-text-container">
                <div class="big-text">Мы поможем пройти весь путь
                    по переходу к эффективному
                    управлению собственным домом</div>
                <div class="small-text">
                    Шаг за шагом, мы подскажем, что нужно делать
                </div>
            </div>
            <div class="create-tsg-button-container">
                <div class="town-image-container-left"></div>
                <div class="text-button-container">
                <!--<button class="create-tsg-button">Создать ТСЖ</button>-->
                    <a href="registration.html" class="create-tsg-button">Создать ТСЖ</a>
                <div class="text-small-container">
                    Управляй сам своим домом!<br>
                    Никакая УК не будет беречь твое имущество, как свое
                </div>
                </div>
                <div class="town-image-container-right"></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="menu-text">Как создать ТСЖ?</div>
        <div class="menu-container">
            <div class="menu-block-container">
            <div>
                <div class="block-menu">
                <img src="/img/family.svg" class="block-menu-image" alt="">
                <span class="text-description-block-menu">Подготовка и проведение общего собрания</span>
                <span class="text-stage">Этап 1</span>
                </div>
            </div>
                <div>
                    <div class="block-menu">
                        <img src="/img/document-new.svg" class="block-menu-image" alt="">
                        <span class="text-description-block-menu">Регистрация юридического <br> лица в ФНС</span>
                        <span class="text-stage">Этап 3</span>
                    </div>
                </div>
                <div>
                    <div class="block-menu">
                        <img src="/img/hand.svg" class="block-menu-image" alt="">
                        <span class="text-description-block-menu">Организация функционирования ТСЖ</span>
                        <span class="text-stage">Этап 5</span>
                    </div>
                </div>
                <div>
                    <div class="block-menu">
                        <img src="/img/hand.svg" class="block-menu-image" alt="">
                        <span class="text-description-block-menu">Статистика</span>
                        <span class="text-stage">Этап 7</span>
                    </div>
                </div>
                <div>
                    <div class="block-menu">
                        <img src="/img/document-box.svg" class="block-menu-image" alt="">
                        <span class="text-description-block-menu">Проведение общего<br> собрания жильцов</span>
                        <span class="text-stage">Этап 2</span>
                    </div>
                </div>
                <div>
                    <div class="block-menu">
                        <img src="/img/money.svg" class="block-menu-image" alt="">
                        <span class="text-description-block-menu">Открытие банковского<br> счета</span>
                        <span class="text-stage">Этап 4</span>
                    </div>
                </div>
                <div>
                    <div class="block-menu">
                        <img src="/img/calculator.svg" class="block-menu-image" alt="">
                        <span class="text-description-block-menu">Печать квитанций и прием платежей</span>
                        <span class="text-stage">Этап 6</span>
                    </div>
                </div>
                <div>
                    <div class="block-menu">
                        <img src="/img/calculator.svg" class="block-menu-image" alt="">
                        <span class="text-description-block-menu">Бухгалтерия</span>
                        <span class="text-stage">Этап 8</span>
                    </div>
                </div>
            </div>
            <div class="text-information-container">
                <div class="main-text">
                    Создание инициативной группы
                    и подготовка к общему собранию
                    жильцов
                </div>
                <div class="text-info-container">
                    <div class="main-caption-text-info">
                        <div class="main-caption-text-info">Инициативная группа</div>
                        <div class="main-text-info">
                            Созывать собрание для организации группы не нужно. Членами группы могут быть жильцы, пользующиеся авторитетом и обладающие познаниями в таких областях, как бухгалтерия, юриспруденция, предпринимательская деятельность.
                        </div>
                        <div class="gradient"></div>
                        <div class="link-container">
                        <a href="#" class="link">Подробнее...</a>
                        </div>
                    </div>
                </div>
                <div class="text-info-container">
                    <div class="main-caption-text-info">
                        <div class="main-caption-text-info">Запрос информации о собственниках</div>
                        <div class="main-text-info"
                        >Созывать собрание для организации группы не нужно. Членами группы могут быть жильцы, пользующиеся авторитетом и обладающие познаниями в таких областях, как бухгалтерия, юриспруденция, предпринимательская деятельность.
                        </div>
                        <div class="gradient"></div>
                        <div class="link-container">
                            <a href="#" class="link">Подробнее...</a>
                        </div>
                    </div>
                </div>
                <div class="text-info-container">
                    <div class="main-caption-text-info">
                        <div class="main-caption-text-info">Подготовка к проведению собрания</div>
                        <div class="main-text-info">
                            Созывать собрание для организации группы не нужно. Членами группы могут быть жильцы, пользующиеся авторитетом и обладающие познаниями в таких областях, как бухгалтерия, юриспруденция, предпринимательская деятельность.
                        </div>
                        <div class="gradient"></div>
                        <div class="link-container">
                            <a href="#" class="link">Подробнее...</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="popup-text">
            <div class="stage-text-container">
                <div class="stage-text">Этап 1: Создание инициативной группы и подготовка к общему собранию жильцов</div>
                <div class="cross-img-container">
                    <img src="/img/cross.svg" class="cross-img">
                </div>
            </div>
            <div class="main-caption-popup-container">
                <div class="main-caption-popup-text">Запрос информации о собственниках</div>
            </div>
            <div class="text-information-popup-container">
                <div class="text-information-popup">
                    В ходе посещения острова Коневец на Ладожском озере Владимир Путин ознакомился с начинающимися масштабными работами по восстановлению комплекса Коневского Рождество-Богородичного монастыря и пообщался с представителями Выборгской епархии.
                </div>
                <div class="text-information-popup">
                    В частности, отец Сергий рассказал главе государства о работе созданного им несколько лет назад центра по реабилитации наркозависимых, который принимает не только россиян, но и граждан из других стран.
                </div>
                <div class="text-information-popup">
                    Ранее у организации была налажена тесная координация с Федеральной службой по контролю за оборотом наркотиков (Указом Президента от 5 апреля 2016 года ФСКН упразднена, её функции и полномочия переданы в систему МВД – Главному управлению по контролю за оборотом наркотиков). Священнослужители обратились к Президенту с просьбой оказать содействие в налаживании взаимодействия с ведомством после его реорганизации.
                </div>
                <div class="text-information-popup">
                    Владимир Путин обсудил этот вопрос по телефону с Министром внутренних дел Владимиром Колокольцевым и дал необходимые поручения с акцентом на большое значение работы по реабилитации наркозависимых и борьбе с наркоманией, а также на важность взаимодействия общественных организаций с министерством в этом контексте.
                </div>
                <div class="text-information-popup-decorated-container">
                <div class="text-information-popup-decorated">
                    Пост главного редактора «Тинькофф-журнала» занимает создатель проекта для писателей «Главред» Максим Ильяхов. Он же сформулировал основные принципы работы проекта.
                </div>
                </div>
                <div class="text-information-popup">
                    Ранее у организации была налажена тесная координация с Федеральной службой по контролю за оборотом наркотиков (Указом Президента от 5 апреля 2016 года ФСКН упразднена, её функции и полномочия переданы в систему МВД – Главному управлению по контролю за оборотом наркотиков). Священнослужители обратились к Президенту с просьбой оказать содействие в налаживании взаимодействия с ведомством после его реорганизации.
                </div>
            </div>
            <div class="link-popup-container">
                <div class="link-popup-container-left">
                    <a href="#" class="link">&#8592 Инициативная группа</a>
                </div>
            <div class="link-popup-container-right">
                <a href="#" class="link">Подготовка к проведению собрания &#8594</a>
            </div>
            </div>
        </div>
    </div>
        <div class="drop-down-container">
            <div class="content">
                <div class="drop-down-text-container">
                    <div class="drop-down-text">Как это работает</div>
                </div>
                <div class="drop-down-menu-container">
                    <div class="drop-down-menu-item active">
                        <div class="drop-down-text">Начисление коммунальных платежей и печать квитанций</div>
                        <div class="orange-border-drop-down">
                            <div class="triangle"></div>
                        </div>
                        <div class="drop-down-menu-content">
                            <div class="drop-down-menu-text">импорт данных об оплате за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">анализ платежей и задолженностей за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">автоматический расчет коммунальных платежей</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">печать квитанций одной кнопкой</div>
                        </div>
                    </div>
                    <div class="drop-down-menu-item">
                        <div class="drop-down-text">Расчеты и оплаты</div>
                        <div class="orange-border-drop-down">
                            <div class="triangle"></div>
                        </div>
                        <div class="drop-down-menu-content">
                            <div class="drop-down-menu-text">импорт данных об оплате за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">анализ платежей и задолженностей за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">автоматический расчет коммунальных платежей</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">печать квитанций одной кнопкой</div>
                        </div>
                    </div>
                    <div class="drop-down-menu-item">
                        <div class="drop-down-text">Контроль за работой поставщиков и подрядчиков</div>
                        <div class="orange-border-drop-down">
                            <div class="triangle"></div>
                        </div>
                        <div class="drop-down-menu-content">
                            <div class="drop-down-menu-text">импорт данных об оплате за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">анализ платежей и задолженностей за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">автоматический расчет коммунальных платежей</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">печать квитанций одной кнопкой</div>
                        </div>
                    </div>
                    <div class="drop-down-menu-item">
                        <div class="drop-down-text">Ведение бухгалтерии и раскрытие информации</div>
                        <div class="orange-border-drop-down">
                            <div class="triangle"></div>
                        </div>
                        <div class="drop-down-menu-content">
                            <div class="drop-down-menu-text">импорт данных об оплате за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">анализ платежей и задолженностей за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">автоматический расчет коммунальных платежей</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">печать квитанций одной кнопкой</div>
                        </div>
                    </div>
                    <div class="drop-down-menu-item">
                        <div class="drop-down-text">Работа с обращениями жильцов</div>
                        <div class="orange-border-drop-down">
                            <div class="triangle"></div>
                        </div>
                        <div class="drop-down-menu-content">
                            <div class="drop-down-menu-text">импорт данных об оплате за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">анализ платежей и задолженностей за предыдущий период</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">автоматический расчет коммунальных платежей</div>
                            <div class="line"></div>
                            <div class="drop-down-menu-text">печать квитанций одной кнопкой</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="content-advantages">
        <div class="advantages-container">
            <div class="advantages-text-container">
                <div class="advantages-text">Преимущества</div>
            </div>
        </div>
        <div class="pair-top-container">
            <div class="block-container">
                <div class="block1">
                    <div class="block-title">Экономия времени</div>
                    <div class="block-description">
                        Созывать собрание для организации
                        группы не нужно. Членами группы могут
                        быть жильцы, пользующиеся
                        авторитетом и обладающие познаниями
                        в таких областях, как бухгалтерия,
                        юриспруденция, предпринимательская
                        деятельность.
                    </div>
                </div>
            </div>
            <div class="block-container">
                <div class="block2">
                    <div class="block-title">Удобные платежи</div>
                    <div class="block-description">
                        Созывать собрание для организации
                        группы не нужно. Членами группы могут
                        быть жильцы, пользующиеся
                        авторитетом и обладающие познаниями
                        в таких областях, как бухгалтерия,
                        юриспруденция, предпринимательская
                        деятельность.
                    </div>
                </div>
            </div>
        </div>
        <div class="pair-bottom-container">
            <div class="block-container">
                <div class="block3">
                    <div class="block-title">Экономия времени</div>
                    <div class="block-description">
                        Созывать собрание для организации
                        группы не нужно. Членами группы могут
                        быть жильцы, пользующиеся
                        авторитетом и обладающие познаниями
                        в таких областях, как бухгалтерия,
                        юриспруденция, предпринимательская
                        деятельность.
                    </div>
                </div>
            </div>
            <div class="block-container">
                <div class="block4">
                    <div class="block-title">Экономия времени</div>
                    <div class="block-description">
                        Созывать собрание для организации
                        группы не нужно. Членами группы могут
                        быть жильцы, пользующиеся
                        авторитетом и обладающие познаниями
                        в таких областях, как бухгалтерия,
                        юриспруденция, предпринимательская
                        деятельность.
                    </div>
                </div>
            </div>
        </div>
        <div class="createtsg-button-container">
        <button class="createtsg-button">Создать ТСЖ</button>
        </div>
    </div>
    <div class="big-line"></div>
    <div class="content-howmuch">
        <div class="main-caption-container">
            <div class="main-caption-text">Сколько стоит?</div>
        </div>
        <div class="img-container">
            <img src="/img/Checked.png" class="image-block">
            <div class="sum-container">
                <div class="sum-text">Итог: <div class="sum-text-bold">2600</div> &#8381</div>
            </div>
        </div>
    </div>
    <div class="content-after-registration">
        <div class="after-registration-text-container">
            <div class="after-registration-text">После регестрации</div>
        </div>
        <div class="after-registration-link-container">
            <div class="link-menu-container-all">
            <div class="link-menu-container">
            <div href="#" class="link-menu-text">Пакет документов</div>
        </div>
            <div class="link-menu-container">
                <div href="#" class="link-menu-text">Личный кабинет</div>
            </div>
            <div class="link-menu-container">
                <div href="#" class="link-menu-text">Платежка</div>
            </div>
            <div class="link-menu-container">
                <div href="#" class="link-menu-text">Платежка</div>
            </div>
            <div class="line-green"></div>
            </div>
        </div>
        <div class="document-container">
            <div class="document-and-text-container">
            <div class="document"></div>
            <div class="document-text-container">
                <a href="#" class="document-text">Квитанция_1.pdf</a>
            </div>
            </div>
            <div class="document-and-text-container">
                <div class="document"></div>
                <div class="document-text-container">
                    <a href="#" class="document-text">Квитанция_2.pdf</a>
                </div>
            </div>
            <div class="document-and-text-container">
                <div class="document"></div>
                <div class="document-text-container">
                    <a href="#" class="document-text">Квитанция_3.pdf</a>
                </div>
            </div>
            <div class="document-and-text-container">
                <div class="document"></div>
                <div class="document-text-container">
                    <a href="#" class="document-text">Квитанция_4.pdf</a>
                </div>
            </div>
            <div class="document-and-text-container">
                <div class="document"></div>
                <div class="document-text-container">
                    <a href="#" class="document-text">Квитанция_5.pdf</a>
                </div>
            </div>
        </div>
        <div class="text-addition-container">
            <div class="text-addition">
                Если в доме кроме квартир имеются нежилые помещения (например, магазин на первом этаже), то уведомление направляется, в том числе, и собственникам этих помещений.
            </div>
            <div class="text-addition">
                Уведомления направляются по почте заказным письмом или вручаются лично под расписку. Они должны быть получены собственниками не позднее, чем за десять дней до даты проведения общего собрания.
            </div>
        </div>
        <div class="createtsg-button-after-container">
        <button class="createtsg-button-after">Создать ТСЖ
        </div>
    </div>
    <div class="big-line"></div>
    <div class="content-slider">
        <div class="slider-container">
            <div class="slider-container-infinity">
                <div class="slider-page-container">
                    <div class="image-text-people">
                        <img src="/img/oxxy.jpg.png" class="photo-image">
                        <div class="name-people-text">Виктор Бабарин</div>
                        <div class="name-tsg-text">ТСЖ "Свирель"</div>
                    </div>
                    <div class="text-slider">
                        <div class="main-caption-slider-container">
                            <div class="main-caption-slider">Отзывы</div>
                        </div>
                        <div class="description-slider-container">
                            <div class="description-slider-text">
                                При подготовке к очередному общему собранию членам инициативной группы целесообразно провести выборочный обход приватизированных квартир для выяснения позиции собственников помещений и их возможности принять участие в общем собрании. Если собственник квартиры выражает готовность принять участие в собрании целесообразно оставить ему письменное напоминание о дате собрания и дать расписаться в соответствующей графе листа оповещения собственников помещений о созыве общего собрания домовладельцев. Уведомление о проведении общего собрания собственников помещений дома может быть также направлено собственникам заказным письмом.
                            </div>
                            <div class="description-slider-text">
                                Если собственник квартиры, по каким-либо причинам, не имеет возможности принять участие в общем собрании домовладельцев, но при этом высказывается за создание ТСЖ, он может выдать члену инициативной группы, своему соседу или любому другому физическому лицу доверенность, составленную в простой письменной форме, с обязательным указанием фамилии, имени и отчества собственника квартиры, общей площади квартиры, номера и даты выдачи свидетельства о праве собственности на квартиру.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-page-container">
                    <div class="image-text-people">
                        <img src="/img/oxxy.jpg.png" class="photo-image">
                        <div class="name-people-text">Виктор Бабарин</div>
                        <div class="name-tsg-text">ТСЖ "Свирель"</div>
                    </div>
                    <div class="text-slider">
                        <div class="main-caption-slider-container">
                            <div class="main-caption-slider">Отзывы</div>
                        </div>
                        <div class="description-slider-container">
                            <div class="description-slider-text">
                                При подготовке к очередному общему собранию членам инициативной группы целесообразно провести выборочный обход приватизированных квартир для выяснения позиции собственников помещений и их возможности принять участие в общем собрании. Если собственник квартиры выражает готовность принять участие в собрании целесообразно оставить ему письменное напоминание о дате собрания и дать расписаться в соответствующей графе листа оповещения собственников помещений о созыве общего собрания домовладельцев. Уведомление о проведении общего собрания собственников помещений дома может быть также направлено собственникам заказным письмом.
                            </div>
                            <div class="description-slider-text">
                                Если собственник квартиры, по каким-либо причинам, не имеет возможности принять участие в общем собрании домовладельцев, но при этом высказывается за создание ТСЖ, он может выдать члену инициативной группы, своему соседу или любому другому физическому лицу доверенность, составленную в простой письменной форме, с обязательным указанием фамилии, имени и отчества собственника квартиры, общей площади квартиры, номера и даты выдачи свидетельства о праве собственности на квартиру.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-page-container">
                    <div class="image-text-people">
                        <img src="/img/oxxy.jpg.png" class="photo-image">
                        <div class="name-people-text">Виктор Бабарин</div>
                        <div class="name-tsg-text">ТСЖ "Свирель"</div>
                    </div>
                    <div class="text-slider">
                        <div class="main-caption-slider-container">
                            <div class="main-caption-slider">Отзывы</div>
                        </div>
                        <div class="description-slider-container">
                            <div class="description-slider-text"
                            >При подготовке к очередному общему собранию членам инициативной группы целесообразно провести выборочный обход приватизированных квартир для выяснения позиции собственников помещений и их возможности принять участие в общем собрании. Если собственник квартиры выражает готовность принять участие в собрании целесообразно оставить ему письменное напоминание о дате собрания и дать расписаться в соответствующей графе листа оповещения собственников помещений о созыве общего собрания домовладельцев. Уведомление о проведении общего собрания собственников помещений дома может быть также направлено собственникам заказным письмом.
                            </div>
                            <div class="description-slider-text">
                                Если собственник квартиры, по каким-либо причинам, не имеет возможности принять участие в общем собрании домовладельцев, но при этом высказывается за создание ТСЖ, он может выдать члену инициативной группы, своему соседу или любому другому физическому лицу доверенность, составленную в простой письменной форме, с обязательным указанием фамилии, имени и отчества собственника квартиры, общей площади квартиры, номера и даты выдачи свидетельства о праве собственности на квартиру.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-page-container">
                    <div class="image-text-people">
                        <img src="/img/oxxy.jpg.png" class="photo-image">
                        <div class="name-people-text">Виктор Бабарин</div>
                        <div class="name-tsg-text">ТСЖ "Свирель"</div>
                    </div>
                    <div class="text-slider">
                        <div class="main-caption-slider-container">
                            <div class="main-caption-slider">Отзывы</div>
                        </div>
                        <div class="description-slider-container">
                            <div class="description-slider-text">
                                При подготовке к очередному общему собранию членам инициативной группы целесообразно провести выборочный обход приватизированных квартир для выяснения позиции собственников помещений и их возможности принять участие в общем собрании. Если собственник квартиры выражает готовность принять участие в собрании целесообразно оставить ему письменное напоминание о дате собрания и дать расписаться в соответствующей графе листа оповещения собственников помещений о созыве общего собрания домовладельцев. Уведомление о проведении общего собрания собственников помещений дома может быть также направлено собственникам заказным письмом.
                            </div>
                            <div class="description-slider-text">
                                Если собственник квартиры, по каким-либо причинам, не имеет возможности принять участие в общем собрании домовладельцев, но при этом высказывается за создание ТСЖ, он может выдать члену инициативной группы, своему соседу или любому другому физическому лицу доверенность, составленную в простой письменной форме, с обязательным указанием фамилии, имени и отчества собственника квартиры, общей площади квартиры, номера и даты выдачи свидетельства о праве собственности на квартиру.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-page-container">
                    <div class="image-text-people">
                        <img src="/img/oxxy.jpg.png" class="photo-image">
                        <div class="name-people-text">Виктор Бабарин</div>
                        <div class="name-tsg-text">ТСЖ "Свирель"</div>
                    </div>
                    <div class="text-slider">
                        <div class="main-caption-slider-container">
                            <div class="main-caption-slider">Отзывы</div>
                        </div>
                        <div class="description-slider-container">
                            <div class="description-slider-text">
                                При подготовке к очередному общему собранию членам инициативной группы целесообразно провести выборочный обход приватизированных квартир для выяснения позиции собственников помещений и их возможности принять участие в общем собрании. Если собственник квартиры выражает готовность принять участие в собрании целесообразно оставить ему письменное напоминание о дате собрания и дать расписаться в соответствующей графе листа оповещения собственников помещений о созыве общего собрания домовладельцев. Уведомление о проведении общего собрания собственников помещений дома может быть также направлено собственникам заказным письмом.
                            </div>
                            <div class="description-slider-text">
                                Если собственник квартиры, по каким-либо причинам, не имеет возможности принять участие в общем собрании домовладельцев, но при этом высказывается за создание ТСЖ, он может выдать члену инициативной группы, своему соседу или любому другому физическому лицу доверенность, составленную в простой письменной форме, с обязательным указанием фамилии, имени и отчества собственника квартиры, общей площади квартиры, номера и даты выдачи свидетельства о праве собственности на квартиру.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-page-container">
                    <div class="image-text-people">
                        <img src="/img/oxxy.jpg.png" class="photo-image">
                        <div class="name-people-text">Виктор Бабарин</div>
                        <div class="name-tsg-text">ТСЖ "Свирель"</div>
                    </div>
                    <div class="text-slider">
                        <div class="main-caption-slider-container">
                            <div class="main-caption-slider">Отзывы</div>
                        </div>
                        <div class="description-slider-container">
                            <div class="description-slider-text">
                                При подготовке к очередному общему собранию членам инициативной группы целесообразно провести выборочный обход приватизированных квартир для выяснения позиции собственников помещений и их возможности принять участие в общем собрании. Если собственник квартиры выражает готовность принять участие в собрании целесообразно оставить ему письменное напоминание о дате собрания и дать расписаться в соответствующей графе листа оповещения собственников помещений о созыве общего собрания домовладельцев. Уведомление о проведении общего собрания собственников помещений дома может быть также направлено собственникам заказным письмом.
                            </div>
                            <div class="description-slider-text">
                                Если собственник квартиры, по каким-либо причинам, не имеет возможности принять участие в общем собрании домовладельцев, но при этом высказывается за создание ТСЖ, он может выдать члену инициативной группы, своему соседу или любому другому физическому лицу доверенность, составленную в простой письменной форме, с обязательным указанием фамилии, имени и отчества собственника квартиры, общей площади квартиры, номера и даты выдачи свидетельства о праве собственности на квартиру.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-page-container">
                    <div class="image-text-people">
                        <img src="/img/oxxy.jpg.png" class="photo-image">
                        <div class="name-people-text">Виктор Бабарин</div>
                        <div class="name-tsg-text">ТСЖ "Свирель"</div>
                    </div>
                    <div class="text-slider">
                        <div class="main-caption-slider-container">
                            <div class="main-caption-slider">Отзывы</div>
                        </div>
                        <div class="description-slider-container">
                            <div class="description-slider-text">
                                При подготовке к очередному общему собранию членам инициативной группы целесообразно провести выборочный обход приватизированных квартир для выяснения позиции собственников помещений и их возможности принять участие в общем собрании. Если собственник квартиры выражает готовность принять участие в собрании целесообразно оставить ему письменное напоминание о дате собрания и дать расписаться в соответствующей графе листа оповещения собственников помещений о созыве общего собрания домовладельцев. Уведомление о проведении общего собрания собственников помещений дома может быть также направлено собственникам заказным письмом.
                            </div>
                            <div class="description-slider-text">
                                Если собственник квартиры, по каким-либо причинам, не имеет возможности принять участие в общем собрании домовладельцев, но при этом высказывается за создание ТСЖ, он может выдать члену инициативной группы, своему соседу или любому другому физическому лицу доверенность, составленную в простой письменной форме, с обязательным указанием фамилии, имени и отчества собственника квартиры, общей площади квартиры, номера и даты выдачи свидетельства о праве собственности на квартиру.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow-right-container">
                <img src="/img/arrow_orange.svg" class="arrow-img left">
                <img src="/img/arrow_orange.svg" class="arrow-img">
            </div>
        </div>
    </div>

    <div class="footer-main">
        <div class="content-footer-main">
            <div class="logo-and-text-container">
                <div class="logo-content">
                    <img src="/img/logo.svg" class="logo">
                </div>
                <div class="text-container-footermain">
                    <div class="text">© Copyright 2017. All Rights Reserved. Terms & Privacy.
                    </div>
                </div>
            </div>
            <div class="aboutus-text-container">
                <div class="lattice-container">
                    <div class="main-text">LATTICE</div>
                    <div class="link-container">
                    <a href="#" class="link-text">About us</a>
                    </div>
                    <div class="link-container">
                    <a href="#" class="link-text">Request Demo</a>
                    </div>
                </div>
                <div class="contactus-container">
                    <div class="main-text-aboutus">CONTACT US</div>
                    <div class="adress-text-container">
                        <div class="adress-text">580 Howard Street #102
                            San Francisco, CA 94105
                            support@latticehq.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/common.js"></script>
    <script src="/js/main.js"></script>
{#    </body>#}
{% endblock %}

