/*.chat-area {
    display : none;
}*/
.chat-area table tr {
    width: 300px;
}

.chat-area table tr :first-child {
    /*text-align: left;*/
}

.chat-area table tr :last-child {
    /*text-align: right;*/
}

.chat-area table {
    width: 600px;
}
